#!/bin/sh -e
#
. /usr/share/debconf/confmodule

ZU_EMAILPROFILE=zorp-utils/admin_email
ZU_ADMINMAIL=""
ADMINMAIL=""

get_admin_email() {
    db_get $ZU_EMAILPROFILE || true
    if [ -n "$RET" ] && 
       [ "x$RET" != "x$ZU_EMAILPROFILE doesn't exist" ] && 
       [ "x$RET" != "x10 $ZU_EMAILPROFILE doesn't exist" ] && 
       [ "x$RET" != "xNONE" ]; then
       ZU_ADMINMAIL=$RET
    fi
    db_get zorplib/admin-email || true
    if [ -z "$RET" ] || [ "x$RET" = "xNONE" ]; then
        if [ -n "$ZU_ADMINMAIL" ]; then
            db_set zorplib/admin-email $ZU_ADMINMAIL || true
        fi
    fi
    db_input high zorplib/admin-email || true
    db_go || true
}

case "$1"  in
    configure|reconfigure)
        # do this only under ZorpOS but not on any other Debian derived OS's
        if [ -f /etc/zorpos_version ];then
            get_admin_email
        fi
    ;;
    *)
    ;;
esac
